apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
metadata:
  name: github-actions-runner-controller-config

commonLabels:
  app: github-actions-runner-controller
  managedBy: argocd
  managementCodeGroup: chrismlee42
  managementCodeProject: github-actions-runner-controller-config

namespace: github-actions-runner-controller

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/volumes/1/secret/secretName
        value: "github-config"
    target:
      kind: Deployment
      name: controller-manager

resources: # []
  # https://github.com/actions/actions-runner-controller/releases
  - https://github.com/actions/actions-runner-controller/releases/download/gha-runner-scale-set-0.13.1/actions-runner-controller.yaml
  - github-config-secret.yaml
  # - namespace.yaml
